---
import Layout from '../layouts/Layout.astro';

import Container from "../components/container.astro";
import Pagetitle from "../components/pagetitle.astro";

---

<Layout title="Video">
  <Container>
    <Pagetitle>
      
    </Pagetitle>

   

   
    <div class="mt-4 md:mt-0 md:ml-6">
      <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">
        Avoid
      </div>

      <div class="uppercase tracking-wide text-xl text-indigo-600 font-bold text-justify">
    
       <h2> There are several things you can do to avoid scams: </h2>
   

<ul>
<li>
1. Be wary of unsolicited emails, messages, or phone calls: Scammers often contact people out of the blue to offer deals that are too good to be true. Be cautious of any unexpected communication and do not provide personal information or payment details unless you are absolutely certain of the legitimacy of the request.
</li>

<li>
    2. Research the company or individual: Do a quick online search to see if the company or person contacting you has a good reputation. Look for reviews or complaints from other customers.
    </li>

    <li>
       3. Be cautious when providing personal information: Do not give out personal information such as your social security number, bank account number, or credit card details unless you are sure of the legitimacy of the request.
        </li>

        <li>
            4. Check the website's security: When making a payment or entering personal information on a website, make sure the website has a secure connection (look for "https" at the beginning of the URL and a padlock symbol in the address bar).
             </li>

             <li>
                5. Trust your instincts: If something seems too good to be true or feels off, trust your gut and walk away.
                 </li>
                 <li>
                    6. Keep your software up to date: Make sure your computer, smartphone, and other devices are up to date with the latest software updates and security patches
                     </li>
                     <li>
                        7. Use strong passwords: Use strong passwords that are difficult to guess or hack.
                         </li>
</ul>
     <p>By following these tips, you can protect yourself from scams and avoid becoming a victim of fraud.</p>
      
    </div>

</div>

</Container>
</Layout> 