---
import image from "../images/f1.png";

import Picture from "../images/f1.png";

import src from "../images/f1.png";

import { Image } from "@astrojs/image/components";

import { Icon } from "astro-icon";

import Layout from '../layouts/Layout.astro';

import Container from "../components/container.astro";
import Pagetitle from "../components/pagetitle.astro";

---

<Layout title="Video">
  <Container>
    <Pagetitle>
      
    </Pagetitle>

   <div class= "justify-items-auto">

   
    <div class="mt-4 md:mt-0 md:ml-6">
      <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">
        DATING
      </div>
      <a href="/" class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline">
        finding girls online in the Philippines is easy in today's digital age, when you are already in the country. However, it is essential to approach these interactions with caution and respect.

      </a>
      <h2 class="mt-2 text-gray-600">
       
        Here are some conversations I have captured on my trip to the Philippines
      </h2>
    </div>

    



    <div class="max-w-xl rounded overflow-hidden shadow-lg justify-items">
      <img class="w-full" src="../f2.png" alt="obvious scam">
      <div class="px-6 py-8">
        <div class="font-bold text-xl mb-2">straight to the point</div>
        <p class="text-gray-700 text-base">
         60 Euro for probably a one night stand is too much.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#upfront</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#scam</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#avoid</span>
      </div>
    </div>


    <div class="max-w-xl rounded overflow-hidden shadow-lg justify-items">
      <img class="w-full" src="../scam2.png" alt="obvious scam">
      <div class="px-6 py-8">
        <div class="font-bold text-xl mb-2">Selling nude pictures and videos </div>
        <p class="text-gray-700 text-base">
        I had to block her...
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#pictures</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#scam</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#avoid</span>
      </div>
    </div>
 

   
    
    <div class="max-w-xl rounded overflow-hidden shadow-lg justify-items-auto">
      <img class="w-full" src="../f1.png" alt="dinner for three">
      <div class="px-6 py-8">
        <div class="font-bold text-xl mb-2">dinner for three</div>
        <p class="text-gray-700 text-base">
         she was already with a friend and was awaiting me to pay the bills, but I didnt show up
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#dinner</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#girls</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#scam</span>
      </div>
    </div>
      

    <div class="max-w-xl rounded overflow-hidden shadow-lg justify-items-center">
      <img class="w-full" src="../fN.png" alt="Nicole">
      <div class="px-6 py-8 justify-items-center">
        <div class="font-bold text-xl mb-2">Money for transportation</div>
        <p class="text-gray-700 text-base">
          Apparently she is from far away and requesting money upfront to meet
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#philippines</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#scam</span>
      </div>
    </div>


    <div class="max-w-xl rounded overflow-hidden shadow-lg justify-items-center">
      <img class="w-full" src="../grateful.png" alt="Rosemar from Boracay">
      <div class="px-6 py-8">
        <div class="font-bold text-xl mb-2">grateful</div>
        <p class="text-gray-700 text-base">
         she was so grateful and had not the intention to make an extra income
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#grateful</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#noScam</span>
      </div>
    </div>

  </div>
      
  </Container>
</Layout> 
       

      <style>

iframe {
  border-radius: 5%; 
  padding: 10px;
  margin: 10px;
}

      </style>









 


