---
import Layout from '../layouts/Layout.astro';

import Container from "../components/container.astro";
import Pagetitle from "../components/pagetitle.astro";

---

<Layout title="Video">
  <Container>
    <Pagetitle>
      
    </Pagetitle>

    <div class="mt-4 md:mt-0 md:ml-6">
      <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold text-justify">
        Single Moms      </div>
      <a href="/" class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline">
        Filipina single moms face unique challenges as they raise their children on their own. Here are some things to consider:

Financial struggles: Many single moms in the Philippines struggle to make ends meet as they raise their children on a single income. They may need to work long hours or multiple jobs to provide for their families.

Social stigma: Single motherhood is often stigmatized in Filipino society, and single moms may face discrimination and judgment from others.

Childcare: Finding affordable and reliable childcare can be a challenge for single moms, especially if they work long or irregular hours.

Emotional support: Single moms may feel isolated and unsupported as they navigate the challenges of raising their children on their own. It's important for them to have a strong support network of friends and family members who can offer emotional support and practical help.

Despite these challenges, many Filipina single moms are able to provide their children with loving homes and successful futures. It's important to acknowledge and support their hard work and dedication.

      </a>
      
    </div>

    <div class="max-w-xl rounded overflow-hidden shadow-lg py-8  ">
      <img class="w-full bg-origin-paddingease-in" src="../lorelyn2.gif" alt="Great Pretender">
      <div class="px-6 py-8 self-center">
        <div class="font-bold text-xl mb-2">Natural Beautyr</div>
        <p class="text-gray-700 text-base">
        no make up, no artifical nails, she is living in paradise
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#dishonest</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#regret</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#wasteoftime</span>
      </div>
      
    </div>

    


    <style>
      div {
        align-self: center;
      }
    </style>

</Container>
</Layout> 
